modules:
  node:
    method: http
    http:
      port: 9100

{% if 'prometheus_docker' in group_names %}
  cadvisor:
    method: http
    http:
      port: 9338
{% endif %}

{% if 'prometheus_ipmi' in group_names %}
  ipmi:
    method: http
    http:
      port: 9289
{% endif %}

{% if 'prometheus_apache' in group_names %}
  apache:
    method: http
    http:
      port: 9117
{% endif %}

{% if inventory_hostname == 'minecraft.infra.netsoc.co' %}
  minecraft:
    method: http
    http:
      port: 19565
{% endif %}

{% if 'prometheus_traefik' in group_names %}
  traefik:
    method: http
    http:
      port: 8082
{% endif %}