[http.routers]
    [http.routers.sysadmin-router]
        entrypoints = ["web-secure"]
        rule = "Host(`sysadmin.netsoc.co`)"
        middlewares = ["sysadmin-redirect"]
        service = "unused-service"

        {% if 'lxc' not in ansible_virtualization_type %}
        [http.routers.sysadmin-router.tls]
            certResolver = "letsencrypt"
        {% endif %}

[http.middlewares]
  [http.middlewares.sysadmin-redirect.redirectRegex]
    regex = "^(.*)"
    replacement = "https://forms.gle/y52GjHmq59XYMEQT9"