#Minecraft server properties
#Thu Mar 12 19:03:14 GMT 2020
allow-flight=false
allow-nether=true
broadcast-console-to-ops=true
broadcast-rcon-to-ops=true
debug=false
difficulty=normal
enable-command-block=true
enable-query=false
enable-rcon=false
enforce-whitelist=false
force-gamemode=false
function-permission-level=2
gamemode={{ gamemode }}
generate-structures=true
generator-settings=
hardcore=false
level-name=world
level-seed=
level-type=default
max-build-height=256
max-players=100
max-tick-time=60000
max-world-size=29999984
motd=UCC Netsoc Minecraft. Powered by Docker.
network-compression-threshold=256
online-mode=true
op-permission-level=4
player-idle-timeout=0
prevent-proxy-connections=false
pvp=true
query.port=25565
rcon.password=minecraft
rcon.port=25575
resource-pack-sha1=
resource-pack=
server-ip=
server-port=25565
snooper-enabled=true
spawn-animals=true
spawn-monsters=true
spawn-npcs=true
spawn-protection=16
texture-pack=
use-native-transport=true
view-distance=10
white-list=false