---
- name: Ensure Python 3
  become: yes
  raw: test -e /usr/bin/python3 || (apt -y update && apt install -y python3)
  register: result
  changed_when: "result.rc != 0"

- name: Gather facts
  setup:

- name: Ensure python3-distutils
  apt:
    name: python3-distutils
  
- name: Ensure pip installed
  apt:
    name: python3-pip

- name: Ensure upgraded pip and ansible pip requirements
  become: yes
  pip:
    name:
      - pip
      - ansible
      - proxmoxer
      - netaddr
    state: latest
    extra_args: --upgrade
