global:
  scrape_interval:     5s # Set the scrape interval to every 5 seconds. Default is every 1 minute.
  evaluation_interval: 5s # Evaluate rules every 5 seconds. The default is every 1 minute.

rule_files:
  - "/etc/prometheus/rules/*"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
        labels:
          instance: "{{inventory_hostname}}"

# todo(jac) Update when grafana has been moved to the new setup
#  - job_name: 'grafana'
#    static_configs:
#      - targets: ['grafana:3000']
#        labels:
#          instance: "{{inventory_hostname}}"

  - job_name: 'expexp_metrics'
    static_configs:
    {% for host in groups['prometheus_base'] -%}
      - 
        targets:
          - {{host}}:9999
        labels:
          instance: "{{host}}"
    {% endfor %}

  - job_name: 'node'
    metrics_path: /proxy
    params:
      module:
       - node 
    static_configs:
    {% for host in groups['prometheus_base'] -%}
      - 
        targets:
          - {{host}}:9999
        labels:
          instance: "{{host}}"
    {% endfor %}

{% if 'prometheus_docker' in groups %}
  - job_name: 'cadvisor'
    metrics_path: /proxy
    params:
      module:
        - cadvisor
    static_configs:
    {% for host in groups['prometheus_docker'] -%}
      - 
        targets:
          - {{host}}:9999
        labels:
          instance: "{{host}}"
    {% endfor %}
{% endif %}

{% if 'prometheus_apache' in groups %}
  - job_name: 'apache'
    metrics_path: /proxy
    params:
      module:
       - apache 
    static_configs:
    {% for host in groups['prometheus_apache'] -%}
      - 
        targets:
          - {{host}}:9999
        labels:
          instance: "{{host}}"
    {% endfor %}
{% endif %}

{% if 'prometheus_ipmi' in groups %}
  - job_name: 'ipmi'
    metrics_path: /proxy
    params:
      module:
       - ipmi 
    static_configs:
    {% for host in groups['prometheus_ipmi'] -%}
      - 
        targets:
          - {{host}}:9999
        labels:
          instance: "{{host}}"
    {% endfor %}
{% endif %}

  - job_name: 'minecraft-survival'
    metrics_path: /proxy
    params:
      module:
        - netcraft-survival
    static_configs:
      - 
        targets:
        - games.vm.netsoc.co:9999
        labels:
          instance: "{{inventory_hostname}}"

#  - job_name: 'minecraft-creative'
#    metrics_path: /proxy
#    params:
#      module:
#        - netcraft-creative
#    static_configs:
#      - 
#        targets:
#        - lovelace.netsoc.co:9999
#        labels:
#          instance: "games.vm.netsoc.co"

  - job_name: 'site-up'
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
        - 'https://netsoc.co/'
        - 'https://wiki.netsoc.co'
        - 'https://netsoc.dev'
        - 'https://keycloak.netsoc.dev'
        - 'https://portainer.netsoc.dev'
        - 'https://traefik.netsoc.dev'
        - 'https://ipa.netsoc.dev/ipa/ui'
        - 'https://uccexpress.ie/'
        - 'https://motley.ie/'
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
        regex: '^https?:\/\/(.*)\/'
      - target_label: __address__
        replacement: blackbox_exporter:9115