modules:
  node:
    method: http
    http:
      port: 9100
  
{% if 'prometheus_apache' in group_names %}
  apache:
    method: http
    http:
      port: 9117
{% endif %}
  
{% if 'prometheus_docker' in group_names %}
  cadvisor:
    method: http
    http:
      port: 9388
{% endif %}

{% if inventory_hostname == 'lovelace.netsoc.co' %}
  netcraft-survival:
    method: http
    http:
      port: 9225

  netcraft-creative:
    method: http
    http:
      port: 9226
{% endif %}

  ipmi:
    method: http
    http:
      port: 9289